<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Input</title>
    <link rel="stylesheet" type="text/css" href="../static/city_input.css">
</head>
<body>
    <div class="container">
        <form action="/weather" method="GET" class="city-form">
            <input type="text" name="city" placeholder="Enter a city name" class="city-input">
            <input type="submit" value="Get Weather" class="get-weather-button">
        </form>
    </div>
</body>
</html>
