{% extends 'index.html' %}

{% block head %}
<title>Weather</title>
<link rel="stylesheet" href="style.css">
{% endblock %}

{% block body %}
<div style="margin-left: auto; margin-right: auto; width: fit-content;">
    <form action= '/' method= 'POST' >
        <input type="text" name="variable">
        <input type="submit">
    </form>
</div>

{%if submission_successful%}
    <div class='weather' style="margin-left: auto; margin-right: auto; width: fit-content;">
        {% for key,value in conditions.items() %}
        {% if key == "icon"%}
            <img src={{icon}}>
        {%else%}
            <p>{{value}}</p>
        {% endif %}
        {% endfor %}
    </div>
{%endif%}
{% endblock %}